body {
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  font-family: Arial;
  background-color: rgb(233, 227, 180);
}

.App {
  display: flex;
  flex-direction: row;
  

}

.topbar {
  z-index: 1;
  width: 100vw;
  height: 20vh;
  padding: 10px;
  background-color: rgb(243, 155, 109);
  color: rgb(56, 29, 42);
  margin-right: 0px;
  font-family: Arial;
  font-size: larger;
  position: fixed;
}

.userDetails {
  z-index: 1;
  height: 20vh;
  background-color: rgb(62, 105, 144);
  position: fixed;
  margin-top: 0%;
  right: 0px;
  width: 300px;
  padding: 10px;
}

.avatar {
  width: 80px;
  border-radius: 20px;
}

.reviews {
  position: absolute;
  margin-top: 25vh;
  padding-left: 20px;
}

.reviewPage {
  position: absolute;
  margin-top: 24vh;
  margin-left: 10px;
  padding: 20px;
}

.reviewImg {
  width: 100px;
}

.reviewCard {
  z-index: -1;
  background-color: rgb(170, 189, 140);
  padding: 5%;
  border-radius: 20px;
  width: 70vw;
  margin-left: 8vw;
}

.filter {
  z-index: 2;
  margin-top: -9vh;
  position: fixed;
}

.commentCard {
  z-index: -1;
  background-color: rgb(170, 189, 140);
  padding: 5%;
  border-radius: 20px;
  width: 70vw;
  margin-left: 8vw;
}

.commentAuthor {
  display: inline;
}

.deleteCommentButton {
  margin-left: 2%;
}

.likeButton {
  display: inline;
}

.dislikeButton {
  display: inline;
}

.errMsg {
  position: absolute;
  margin-top: 24vh;
  margin-left: 10px;
  padding: 20px;
}

.PageNotFound {
  position: absolute;
  margin-top: 24vh;
  margin-left: 10px;
  padding: 20px;
}

/* background-color: rgb(170, 189, 140); oliveine
background-color: rgb(56, 29, 42); dark purple */
